In [35]:
# To Do
# Simulate all the buildings in the test file 
# Get data Distribution from #data folder 
# Split it around the experiment buildings 
# For each set-up, do it once for each year where data on gas, heating and electricity is available

In [36]:
# weather data 
weather_files = \
[r'C:\Users\felix\Programmieren\tecdm\data\berlin\AMY_2010_2022_2020.epw',
r'C:\Users\felix\Programmieren\tecdm\data\berlin\AMY_2010_2022_2021.epw',
r'C:\Users\felix\Programmieren\tecdm\data\berlin\AMY_2010_2022_2022.epw']

In [37]:
# Test it with the partials of Mierendorffinsel

import pandas as pd 

sheet_= pd.read_csv(r'C:\Users\felix\Programmieren\tecdm\data\model_sheets\partialMierendorffInselLoD2.csv') 
sheet_.head()

,gml_id,dg_id,address,building_type_gml,year_of_construction,renovation_status,floor_area,height,storeys_above_ground,average_floor_height
0,BLDG_0003000a00116893,0,"Berlin,14,Mindener Str.",1169.0,NaN,NaN,289.279053,21.77232,NaN,2.8
1,BLDG_0003000000bca3c5,1,"Berlin,20,Osnabrücker Str.",1231.0,NaN,NaN,241.034668,22.23000,NaN,2.8
2,BLDG_0003000b00040249,2,"Berlin,10,Mindener Str.",1231.0,NaN,NaN,207.767822,18.42627,NaN,2.8
3,BLDG_0003000a00116895,3,"Berlin,15,Tegeler Weg",1231.0,NaN,NaN,177.535400,27.88921,NaN,2.8
4,BLDG_0003000b0004024b,4,"Berlin,12,Mindener Str.",1231.0,NaN,NaN,250.361816,21.42424,NaN,2.8

In [38]:
alkis_data = pd.read_csv(r'C:\Users\felix\Programmieren\tecdm\data\berlin\07_GMLAlkis.csv')
alkis_data.head()

,fid,gfk,bezgfk,ofl,bezofl,aog,aug,hoh,bat,bezbat,...,descriptio,creation_d,terminatio,relative_t,relative_1,last_modif,updating_p,reason_for,lineage,building_i
0,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1100.0,Geringergeschossiger Gebäudeteil,...,NaN,2024/02/05 04:16:18.012,NaN,NaN,NaN,2024/02/05 04:16:18.012,citydb_user,NaN,NaN,716.0
1,2,NaN,NaN,NaN,NaN,4.0,NaN,NaN,2500.0,Auskragende/zurückspringende Geschosse,...,NaN,2024/02/05 04:16:23.827,NaN,NaN,NaN,2024/02/05 04:16:23.827,citydb_user,NaN,NaN,3310.0
2,3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1100.0,Geringergeschossiger Gebäudeteil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1010.0,Wohnhaus,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,2024/02/05 04:16:19.467,NaN,NaN,NaN,2024/02/05 04:16:19.467,citydb_user,NaN,NaN,1366.0
4,5,1010.0,Wohnhaus,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,2024/02/05 04:16:21.513,NaN,NaN,NaN,2024/02/05 04:16:21.513,citydb_user,NaN,NaN,2597.0

In [39]:
# Merge on builiding id is not possible, merge on groundsurfe ID # Needs to be extracted <bldg:GroundSurface gml:id="UUID_af71ad86-c132-46eb-a2a7-01f78ec1f25f">
import lxml.etree as ET
# from shapely.geometry import Polygon


# Define the namespaces used in the CityGML file
ns = {
        'core': "http://www.opengis.net/citygml/2.0",
        'gml': "http://www.opengis.net/gml",
        'bldg' : 'http://www.opengis.net/citygml/building/2.0',
        'energy' : 'http://www.sig3d.org/citygml/2.0/energy/1.0',
        # Add other necessary namespaces based on the file content
    }


file_path = r"C:\Users\felix\Programmieren\tecdm\data\examples\gml_data\partialMierendorffInselLoD2.gml"
groundsurface_list = []
# Parse the XML file
tree = ET.parse(file_path)
root = tree.getroot()
# Find all buildings and get the data 
for building in root.findall('.//{*}Building'):
    # Get all IDs and yoc 
    building_id = building.get('{http://www.opengis.net/gml}id')
    # 
    gs_node = building.find('.//{*}GroundSurface', ns)
    if gs_node is None:
            surface_id = ""
    else:
        surface_id =gs_node.get('{http://www.opengis.net/gml}id')
    groundsurface_list.append((building_id, surface_id))

In [40]:
sheet_["groundsurfcace_id"] = sheet_["gml_id"].map(dict(groundsurface_list))

In [41]:
sheet_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gml_id                17 non-null     object
 1   dg_id                 17 non-null     int64
 2   address               17 non-null     object
 3   building_type_gml     16 non-null     float64
 4   year_of_construction  0 non-null      float64
 5   renovation_status     0 non-null      float64
 6   floor_area            17 non-null     float64
 7   height                17 non-null     float64
 8   storeys_above_ground  0 non-null      float64
 9   average_floor_height  17 non-null     float64
 10  groundsurfcace_id     17 non-null     object
dtypes: float64(7), int64(1), object(3)
memory usage: 1.6+ KB

In [42]:
alkis_data = alkis_data[alkis_data["gmlid"].isin(sheet_["groundsurfcace_id"])]

In [43]:
alkis_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 44 to 1152
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fid         32 non-null     int64
 1   gfk         14 non-null     float64
 2   bezgfk      14 non-null     object
 3   ofl         0 non-null      float64
 4   bezofl      0 non-null      object
 5   aog         28 non-null     float64
 6   aug         0 non-null      float64
 7   hoh         0 non-null      object
 8   bat         18 non-null     float64
 9   bezbat      18 non-null     object
 10  nam         1 non-null      object
 11  baw         13 non-null     float64
 12  bezbaw      13 non-null     object
 13  zus         0 non-null      float64
 14  bezzus      0 non-null      object
 15  gkn         14 non-null     float64
 16  des         14 non-null     float64
 17  bezdes      14 non-null     object
 18  lag         14 non-null     object
 19  namlag      14 non-null     object
 20  hnr         12 non-null     object
 21  pnr         1 non-null      object
 22  lnr         1 non-null      float64
 23  bezeich     32 non-null     object
 24  uuid        32 non-null     object
 25  id          32 non-null     float64
 26  gmlid       32 non-null     object
 27  gmlid_code  0 non-null      float64
 28  name        0 non-null      float64
 29  name_codes  0 non-null      float64
 30  descriptio  0 non-null      float64
 31  creation_d  32 non-null     object
 32  terminatio  0 non-null      float64
 33  relative_t  0 non-null      float64
 34  relative_1  0 non-null      float64
 35  last_modif  32 non-null     object
 36  updating_p  32 non-null     object
 37  reason_for  0 non-null      float64
 38  lineage     0 non-null      float64
 39  building_i  32 non-null     float64
dtypes: float64(21), int64(1), object(18)
memory usage: 10.2+ KB

In [44]:
# get relevant alkis data sources

In [ ]:
alkis_names = { 
    "aog" : "storeys_above_ground",
    
}